body {
  font-family: Arial;
  background: #f3f4f6;
}

.card {
  max-width: 500px;
  margin: 60px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  margin: 6px 4px;
  padding: 10px 14px;
}
